**Loading Dataset**

In [2]:
import pandas as pd
data=pd.read_csv('bank.csv')
display(data)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,admin.,married,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,yes
1,56,admin.,married,secondary,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown,yes
2,41,technician,married,secondary,no,1270,yes,no,unknown,5,may,1389,1,-1,0,unknown,yes
3,55,services,married,secondary,no,2476,yes,no,unknown,5,may,579,1,-1,0,unknown,yes
4,54,admin.,married,tertiary,no,184,no,no,unknown,5,may,673,2,-1,0,unknown,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11157,33,blue-collar,single,primary,no,1,yes,no,cellular,20,apr,257,1,-1,0,unknown,no
11158,39,services,married,secondary,no,733,no,no,unknown,16,jun,83,4,-1,0,unknown,no
11159,32,technician,single,secondary,no,29,no,no,cellular,19,aug,156,2,-1,0,unknown,no
11160,43,technician,married,secondary,no,0,no,yes,cellular,8,may,9,2,172,5,failure,no
11161,34,technician,married,secondary,no,0,no,no,cellular,9,jul,628,1,-1,0,unknown,no

In [5]:
data.drop(columns=['job','default','contact','month','poutcome'],inplace=True)

In [7]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
data['marital']=le.fit_transform(data['marital'])
data['education']=le.fit_transform(data['education'])
data['housing']=le.fit_transform(data['housing'])
data['loan']=le.fit_transform(data['loan'])
data['deposit']=le.fit_transform(data['deposit'])

In [9]:
data.head()

,age,marital,education,balance,housing,loan,day,duration,campaign,pdays,previous,deposit
0,59,1,1,2343,1,0,5,1042,1,-1,0,1
1,56,1,1,45,0,0,5,1467,1,-1,0,1
2,41,1,1,1270,1,0,5,1389,1,-1,0,1
3,55,1,1,2476,1,0,5,579,1,-1,0,1
4,54,1,2,184,0,0,5,673,2,-1,0,1

**Splitting the dataset into train and test**

In [11]:
x=data.iloc[:,0:-1]
y=data.iloc[:,-1]

In [15]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=0)

In [17]:
from sklearn.tree import DecisionTreeClassifier
classifier=DecisionTreeClassifier()
classifier.fit(x_train,y_train)

DecisionTreeClassifier()

In [19]:
y_pred=classifier.predict(x_test)

In [21]:
from sklearn.metrics import confusion_matrix,accuracy_score,precision_score,recall_score
cm=confusion_matrix(y_test,y_pred)
print('Confusion Matrix:\n',cm)

Confusion Matrix:
 [[1350  442]
 [ 426 1131]]

In [23]:
accuracy=accuracy_score(y_test,y_pred)
print(f"accuracy: {accuracy}")

accuracy: 0.7408181546730367

In [26]:
precision=precision_score(y_test,y_pred,average='weighted')
print(f"precision score: {precision}")

precision score: 0.7410146401704261

In [27]:
recall=recall_score(y_test,y_pred,average='weighted')
print(f"recall score: {recall}")

recall score: 0.7408181546730367